{% extends 'includes/base.html' %}
{% block title %} Home {% endblock %}
{% block conteudo %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Casos cadastrados</h1>
            <hr>

        <table class="table table-hover">
          {{ mostra_flashes() }}
          <thead>
            <tr>
              <th colspan="3" class="text-center">Casos cadastrados</th>
            </tr>
            <tr>
              <th scope="col">ID do caso</th>
              <th scope="col">Solicitante</th>
              <th scope="col">CPF</th>
              <th scope="col">Nome do Caso</th>
              <th scope="col">Descrição</th>
              <th scope="col">Escritório</th>


            </tr>
          </thead>

          <tbody>
            {% for caso in casos %}
            <tr>
                  <th scope="row">{{caso.id}}</th>
                  <th scope="row">{{caso.usuario.usuario}}</th>
                  <td>{{caso.cpf}}</td>
                  <th scope="row">{{caso.nome}}</th>
                  <td>{{caso.descricao}}</td>
                  <td>{{caso.escritorio}}</td>
                  <td>
                      <a class="btn btn-primary" href="{{ url_for('caso', caso_id=caso.id) }}">Visualizar</a>
                  </td>
                

            </tr>
            {% endfor %}
          </tbody>

        </table>

        <hr class="my-4">

        <p class="lead">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{url_for('escritorio_perfil', escritorio_id=escritorio.id)}}" role="button">Meu Perfil</a>
        </p>

          <a class="btn btn-primary btn-lg" href="{{url_for('logout')}}" role="button">Logout</a>
        </p>
      </div>
</div>
{% endblock %}