{% extends 'includes/base.html' %}
{% block conteudo %}
{% block title %} Home {% endblock %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bem vindo, {{current_user.usuario}}!</h1>
            <hr>

        <table class="table table-hover">
          <caption>* Usuário logado</caption>
          <thead>
            <tr>
              <th colspan="3" class="text-center">Usuários cadastrados</th>
            </tr>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Usuário</th>
              <th scope="col">Email</th>
            </tr>
          </thead>

          <tbody>
            {% for usuario in usuarios %}
            <tr>
                {% if usuario.id == current_user.id %}
                    <th scope="row">{{usuario.id}}*</th>
                    <td>{{usuario.usuario}}</td>
                    <td>{{usuario.email}}</td>
                {% else %}
                    <th scope="row">{{usuario.id}}</th>
                    <td>{{usuario.usuario}}</td>
                    <td>{{usuario.email}}</td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>

        </table>

        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{url_for('logout')}}" role="button">Logout</a>
        </p>
      </div>
</div>
{% endblock %}